Package: com.devops2626.mytweakobjc
Name: MyTweakObjC
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: devops2626
Author: devops2626
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
